# Login

In [150]:
import requests
from bs4 import BeautifulSoup
from scraper import _extract_company_name_map_for_alias

In [151]:
company_name_map = _extract_company_name_map_for_alias('all')

In [152]:
company_name = ''
for comp_name, company_url in company_name_map.items():
    company_name = comp_name

In [153]:
company_name

'DataScience'

In [155]:
import json

with open('items_' +company_name+'_part_2.json', 'r') as file:
    read_items = json.load(file)

In [156]:
def clean(html_content):

    # Assuming 'html_content' contains the HTML data from your JSON file

    soup = BeautifulSoup(html_content, 'html.parser')

    # Initialize lists to store the extracted data
    company_names = []
    roles = []
    dates = []
    questions = []

    # Find all the 'mb borderBot' divs
    divs = soup.find_all('div', class_='mb borderBot')

    # Iterate over each div and extract the desired data
    for div in divs:
        # Extract the company name from the 'alt' attribute of the 'img' tag
        img = div.find('img')
        if img is not None:
            company_name = img.get('alt')
            company_names.append(company_name)
        else:
            company_names.append('unkown')
        # Extract the role from the text within the 'a' tag inside the 'span' tag
        spans = div.find_all('span', class_='m-0 css-1jlgt0v edupdmz5')
        if (len(spans)>=2):
            role = spans[0].find('a').text
            date = spans[1].text
            #print(company_name)
            roles.append(role)
            dates.append(date)
        #role = div.find('span', class_='m-0 css-1jlgt0v edupdmz5').find('a').text
        #roles.append(role)

        # Extract the date from the text within the 'span' tag
        #date = div.find('span', class_='m-0 css-1jlgt0v edupdmz5').text
        #dates.append(date)

        # Extract the question from the text within the 'h3' tag
        question = div.find('h3', class_='css-11euy82 edupdmz3').text
        questions.append(question)

    # Create a dataframe from the extracted data
    data = {
        'Company Name': company_names,
        'Role': roles,
        'Date': dates,
        'Question': questions
    }
    #print(roles)
    
    df = pd.DataFrame(data)
    #df['Role'] = df['Role'].str.replace(' was asked...', '',regex=True)
    # Display the dataframe
    return df

In [157]:
test = clean(read_items[0])

In [158]:
test

,Company Name,Role,Date,Question
0,Audible,Data Scientist was asked...,"June 21, 2015",Why Audible?
1,Ameriprise,Data Engineer was asked...,"November 7, 2021",How dates are stored in SAS?
2,J.P. Morgan,Data Science Intern was asked...,"November 9, 2021",Calculate the standard deviation of an array
3,JPMorgan Chase & Co,Data Science Manager was asked...,"January 12, 2021",How many people do you need to launch the team?
4,Dell Technologies,Sr Data Analyst was asked...,"December 15, 2020",1. Regarding Standard BI practices\n2. SQL Tab...
5,Dell Technologies,Data Science Intern was asked...,"September 29, 2020",Why did you want to join our comapany?
6,Dell Technologies,Data Analyst was asked...,"December 28, 2022",Why do you want to work for us!
7,Clearwater Analytics,Data Analyst was asked...,"April 5, 2016","Given a large cube made up of smaller cubes, t..."
8,HelloFresh,Data Analyst was asked...,"May 12, 2016",Q. Why are you changing your career direction?...
9,CACI International,Data Scientist was asked...,"February 19, 2021","Name one of your most memorable ""Ah Ha"" moment..."

In [159]:
test['Role'] = test['Role'].str.replace(' was asked...', '',regex=True)

In [160]:
test

,Company Name,Role,Date,Question
0,Audible,Data Scientist,"June 21, 2015",Why Audible?
1,Ameriprise,Data Engineer,"November 7, 2021",How dates are stored in SAS?
2,J.P. Morgan,Data Science Intern,"November 9, 2021",Calculate the standard deviation of an array
3,JPMorgan Chase & Co,Data Science Manager,"January 12, 2021",How many people do you need to launch the team?
4,Dell Technologies,Sr Data Analyst,"December 15, 2020",1. Regarding Standard BI practices\n2. SQL Tab...
5,Dell Technologies,Data Science Intern,"September 29, 2020",Why did you want to join our comapany?
6,Dell Technologies,Data Analyst,"December 28, 2022",Why do you want to work for us!
7,Clearwater Analytics,Data Analyst,"April 5, 2016","Given a large cube made up of smaller cubes, t..."
8,HelloFresh,Data Analyst,"May 12, 2016",Q. Why are you changing your career direction?...
9,CACI International,Data Scientist,"February 19, 2021","Name one of your most memorable ""Ah Ha"" moment..."

In [161]:
from tqdm.notebook import tqdm 
concatenated_df = pd.DataFrame()  # Initialize an empty DataFrame
cnt = 0
for item in tqdm(read_items):
    df = clean(item)
    concatenated_df = pd.concat([concatenated_df, df])

  0%|          | 0/165 [00:00<?, ?it/s]

In [162]:
concatenated_df.reset_index(drop=True, inplace=True)

In [163]:
concatenated_df = concatenated_df.convert_dtypes()

In [164]:
concatenated_df.dtypes

Company Name    string
Role            string
Date            string
Question        string
dtype: object

In [165]:
concatenated_df['Role'] = concatenated_df['Role'].str.replace(' was asked...', '',regex=True)

In [166]:
concatenated_df

,Company Name,Role,Date,Question
0,Audible,Data Scientist,"June 21, 2015",Why Audible?
1,Ameriprise,Data Engineer,"November 7, 2021",How dates are stored in SAS?
2,J.P. Morgan,Data Science Intern,"November 9, 2021",Calculate the standard deviation of an array
3,JPMorgan Chase & Co,Data Science Manager,"January 12, 2021",How many people do you need to launch the team?
4,Dell Technologies,Sr Data Analyst,"December 15, 2020",1. Regarding Standard BI practices 2. SQL Tabl...
...,...,...,...,...
1644,Decathlon,Junior Data Analyst,"December 7, 2020",How would you lead your team for a particular ...
1645,Known,Senior Data Analyst,"January 28, 2021",why known? Why marketing versus other fields?
1646,Apple,Data Analyst,"April 26, 2023",name a time you were pressured
1647,T-Mobile,Data Analyst Internship,"November 17, 2022",tell me about yourself and your experiences in...
1648,Canopy Labs,Data Scientist,"May 28, 2018",Describe 2 or 3 examples of applications of Ma...

In [167]:
# Assuming concatenated_df is your DataFrame

concatenated_df.to_csv('data_interviews_3.csv', index=False)

In [168]:
df1, df2, df3 = pd.read_csv('data_interviews_1.csv'),pd.read_csv('data_interviews_2.csv'), pd.read_csv('data_interviews_3.csv')

In [169]:
df_all = pd.concat([df1,df2,df3])

In [170]:
df_all

,Company Name,Role,Date,Question
0,LinkedIn,Data Scientist Intern,"February 26, 2012",Find the second largest element in a Binary Se...
1,Capital One,Data Analyst,"November 8, 2010",Case interview: basic business problem (if pro...
2,Google,Data Analyst,"December 24, 2012",If you have 10 bags of marbles with 10 marbles...
3,Glassdoor,Senior Data Scientist,"October 21, 2014",How would you test if survey responses were fi...
4,Yammer,Data Scientist,"April 6, 2013",You are compiling a report for user content up...
...,...,...,...,...
1644,Decathlon,Junior Data Analyst,"December 7, 2020",How would you lead your team for a particular ...
1645,Known,Senior Data Analyst,"January 28, 2021",why known? Why marketing versus other fields?
1646,Apple,Data Analyst,"April 26, 2023",name a time you were pressured
1647,T-Mobile,Data Analyst Internship,"November 17, 2022",tell me about yourself and your experiences in...
1648,Canopy Labs,Data Scientist,"May 28, 2018",Describe 2 or 3 examples of applications of Ma...

In [171]:
df_all.to_csv('data_interviews_combined.csv', index=False)

In [172]:
df_all.dtypes

Company Name    object
Role            object
Date            object
Question        object
dtype: object